body {
	background-color:#0d1a26;
	color:white;
	font: 20px normal;
	font-family: 'Roboto', sans-serif;
	line-height:1em;
    margin-top:30px;
	text-align:center;
}

.navbar {
	width:60%;
	padding-left: 20%;
	height:30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    padding-top:10px;
}

.navbar a {
	color: white;
	font-weight:normal;
    text-decoration: none;
    font-size: 30px;
}

.container {
	width:60%;
	padding-left:20%;
}

.container h1 {
	text-align: center;
	color:white;
	font: 40px bolder;
	font-family: 'Roboto', sans-serif;
}

.container ul {
	text-align: left;
}

.container ul a {
	color: white;
	font-size:30px;
	line-height:1.5em;
	text-decoration: none;
}

.container button {
	border-radius: 6px;
	padding: 15px;
	color: white;
	background-color: #003366;
	text-decoration: none;
	border: none;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}